/* Estilos específicos para la página de primer etapa */

.btn-custom {
    background-color: #6a1b9a; /* Morado */
    color: white;
    border-color: #5e148c;
}

.btn-custom:hover {
    background-color: #7c23b3;
    border-color: #6a1b9a;
}

/* CONTENEDOR NORMAL */
.plano-container {
    position: relative;
    width: 100%;
}

.plano-container img {
    display: block;
    width: 100%;
    height: auto;
}

/* CAPA DE MARCADORES */
#marcadoresContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.marcador {
    position: absolute;
    width: 48px;  /* Tamaño aumentado */
    height: 48px; /* Tamaño aumentado */
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px; /* Tamaño de letra aumentado */
    z-index: 100;
}

/* Estilos para impresión */
@media print {

    body * {
        visibility: hidden;
        margin: 0;
        padding: 0;
    }

    .plano-container,
    .plano-container * {
        visibility: visible;
    }

    .plano-container {
        margin: 0 !important;
    }

    .plano-container img {
        display: block;
        width: 100% !important;
        height: auto !important;
    }

    .marcador {
        width: 37px !important;
        height: 37px !important;
        font-size: 16px !important;
        background-color: red !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .no-print {
        display: none !important;
    }

    @page {
        size: auto;
        margin: 0mm;
    }
}
